<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a class="{% if request.resolver_match.url_name == 'index' %}active-menu{% endif %}" href="{% url 'index' %}"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="{% url 'target' %}"><i class="fa fa-bullseye"></i> Targets</a>
            </li>
            <li>
                <a href="{% url 'scan' %}"><i class="fa fa-wrench"></i> Scan </a>
            </li>
            <li>
                <a href="{% url 'vulnerability' %}"><i class="fa fa-exclamation"></i> Vulnerabilities</a>
            </li>
            <li>
                <a href="{% url 'report' %}"><i class="fa fa-file"></i> Reports</a>
            </li>
            <li>
                <a href="{% url 'notify' %}"><i class="fa fa-bell"></i> Notifications</a>
            </li>
            {% comment %} <li>
                <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#">Second Level Link</a></li>
                    <li><a href="#">Second Level Link</a></li>
                    <li>
                        <a href="#">Second Level Link<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li><a href="#">Third Level Link</a></li>
                            <li><a href="#">Third Level Link</a></li>
                            <li><a href="#">Third Level Link</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'empty' %}"><i class="fa fa-fw fa-file"></i> Empty Page</a>
            </li> {% endcomment %}
        </ul>
    </div>
</nav>