{% load static %}

{% block content %}
<div id="wrapper">
    {% include 'partials/navbar.html' %}
    {% include 'partials/sidebar.html' %}
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Empty Page <small>Create new page.</small>
                        </h1>
                    </div>
                </div> 
                <!-- /. ROW  -->
                <footer><p>All right reserved. &copy Areeb Khan</p></footer>
            </div>
         <!-- /. PAGE INNER  -->
        </div>
</div>
{% endblock content %}
